<launch>

    <group ns="leap_motion">
        <!-- Start the node that gets raw images from the Leap Motion controller -->
        <node pkg="leap_motion" type="leap_motion_camera_node" name="leap_camera" output="screen"/>
        
        <!-- Start the node that generates the pointcloud and a tf to orientate it the right way-->
        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image" output="screen"/>
        <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 1 0 world leap_pointcloud 100" />
        
        <!-- Open a preconfigured RViz window -->
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find leap_motion)/config/RViz/leap_camera.rviz" />
    </group>

</launch>
